@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 500;
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-bRg.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 700;
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-cBd.ttf) format("truetype");
}
@font-face {
    font-family: 'NanumSquareNeo';
    font-weight: 900;
    src: url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.woff) format("woff"), url(https://hangeul.pstatic.net/hangeul_static/webfont/NanumSquareNeo/NanumSquareNeoTTF-eHv.ttf) format("truetype");
}

:root {
    --col-primary: #ba45d1;
    --col-primary-bg: #e6d7e9;
    --col-secondary: #d9101b;
    --col-secondary-bg: #d39a9d;
    --col-critical: #fa0355;
    --col-critical-bg: #ffe0eb;
    --col-info: #1589e7;
    --col-info-bg: #d4ecff;
    --col-warning: #f3ad3c;
    --col-warning-bg: #f5deb9;
    --col-verbose: #999;
    --col-back-3: #eaeaea;
    --col-back-2: #f5f5f5;
    --col-back-1: #fff;
    --col-fore: #333;
    --col-shadow: #0000001a;

    --grad-backdrop: linear-gradient(180deg, var(--col-back-2), #fbfbfb);
}

/* @media (prefers-color-scheme: dark) {
    :root {
        --col-primary: #ba45d1;
        --col-primary-bg: #3a1d3d;
        --col-secondary: #d9101b;
        --col-secondary-bg: #3d1d1d;
        --col-critical: #fa0355;
        --col-critical-bg: #3d1d1d;
        --col-info: #1589e7;
        --col-info-bg: #3d1d1d;
        --col-warning: #f3ad3c;
        --col-warning-bg: #3d1d1d;
        --col-verbose: #666;
        --col-back-3: #2e3131;
        --col-back-2: #17181a;
        --col-back-1: #272829;
        --col-fore: #eee;
        --col-shadow: #0000001a;

        --grad-backdrop: linear-gradient(180deg, #181a1d, var(--col-back-2));
    }
} */


*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: inherit;
}
* {
    margin: 0;
}
html {
    line-height: 1.5;
    font-family: "NanumSquareNeo", sans-serif;
}

:any-link {
    text-decoration: none;
    color: var(--col-primary);

    &:hover, &:focus {
        text-decoration: underline;
    }
}

body {
    min-height: 100vh;
    color: var(--col-fore);
    background: var(--grad-backdrop);
    /* padding-block-end: 4rem; */
}

table.grow-1 {
    & tr td:first-child {
        text-align: left;
        width: 100%;
    }

    & tr th:first-child {
        text-align: left;
    }
}

table.center-text {
    & tr td, & tr th {
        text-align: center;
    }
}

table.table-dir {
    & tr.read {
        color: var(--col-verbose);
    }
}

ul.board-list {
    list-style: none;
    padding: 0;
    margin: 0;

    & > a:hover {
        text-decoration: none;
    }

    & li.read {
        color: var(--col-verbose);
    }

    & li {
        padding: 0.5rem;
        border-bottom: 1px solid var(--col-back-3);
        display: flex;
        justify-content: space-between;
        color: var(--col-fore);

        &:hover, a:focus > & {
            background-color: var(--col-back-2);
        }

        & > :nth-child(2) {
            color: var(--col-verbose);
            text-align: end;
            font-family: "Consolas", "Fira Code", monospace;
        }
    }
}

header.site-header {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    padding: 3rem 10px;
    max-width: 600px;
    margin: 0 auto;

    & > a {
        display: contents;
    }

    & h1 {
        display: flex;
        width: 100%;

        font-weight: 900;
        font-size: 2.75rem;
        & > span:nth-child(1) {
            color: var(--col-secondary);
            margin-inline-end: 0.6rem;
        }
        & > span:nth-child(2) {
            color: var(--col-primary);
        }

        &::before, &::after {
            rotate: -2.5deg;
            content: "";
            display: inline-block;
            height: 8px;
            background-color: #7e7e7e4f;
            margin: 1.65rem 0;
            flex-grow: 1;
        }

        @media (max-width: 260px) {
            flex-direction: column;
            text-align: center;

            &::before, &::after {
                margin: 0;
            }
        }
    }
}

footer.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-block: 4rem 0;

    & > p {
        font-size: 0.8rem;
        color: var(--col-verbose);
    }
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

main.home {
    display: grid;
    grid-template-areas:
        "top    top  "
        "notice card1"
        "notice card2";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto 1fr;
    gap: 2rem;

    & > :nth-child(1) {
        grid-area: top;
        display: flex;
        justify-content: space-between;
        font-weight: bold;
        padding-inline: 1rem;

        & time {
            color: var(--col-verbose);
        }
    }
    & > article:nth-of-type(1) {
        grid-area: notice;
    }
    & > article:nth-of-type(2) {
        grid-area: card1;
    }
    & > article:nth-of-type(3) {
        grid-area: card2;
    }

    @media (max-width: 750px) {
        grid-template-areas:
            "top"
            "notice"
            "card1"
            "card2";
        grid-template-columns: 1fr;
    }
}

main.board {
    min-height: calc(100vh - 20rem);
    display: flex;

    & > article {
        flex-grow: 1;
    }
}

article.home-panel {
    padding: 1.5rem;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--col-shadow);
    background-color: var(--col-back-1);
    overflow-x: auto;

    & > h2 {
        margin-block-end: 1rem;
    }

    & > table {
        width: 100%;
        border-collapse: collapse;
        border-spacing: 0;
        margin: 1rem 0;

        & tr > td {
            padding-bottom: 0.25rem;
        }
    }

    & > .cards {
        display: flex;
        gap: 1rem;
        margin-block-start: 1rem;
        overflow-x: auto;

        & > .card {
            flex: 15rem 0 0;
            overflow-y: auto;

            border: 1px solid var(--col-verbose);
            border-radius: 5px;

            padding: 1rem 1.5rem;
            max-height: 15rem;
            max-width: 15rem;

            & > h3 {
                margin-block-end: 0.5rem;
            }
        }
    }
}

p.wide-blocks {
    display: flex;
    column-gap: 1rem;
    flex-wrap: wrap;
}

svg.icon-tabler {
    vertical-align: text-bottom;
}

span.text-badge {
    display: inline-block;
    padding: 0 0.5em;
    border-radius: 1em;
    border: 1px solid var(--col-back-3);
    background-color: var(--col-back-3);
    color: var(--col-verbose);
    font-size: 0.8em;
    margin-inline-start: 0.5em;

    &.critical {
        color: var(--col-critical);
        border-color: var(--col-critical);
        background-color: var(--col-critical-bg);
    }
    &.primary {
        color: var(--col-primary);
        border-color: var(--col-primary);
        background-color: var(--col-primary-bg);
    }
    &.info {
        color: var(--col-info);
        border-color: var(--col-info);
        background-color: var(--col-info-bg);
    }
}

span.small-text {
    font-size: 0.8em;
    color: var(--col-verbose);
}
